<footer class="footer is-transparent">
    <div class="content has-text-centered">
        <p>
            &copy; {{ site.time | date: "%Y" }} William's Blog. All rights reserved.
            <br>
            <span class="icon is-small icon-credit"><i class="fas fa-laptop-code"></i></span> Icon credit: <a href="https://www.flaticon.com/authors/eneko-iriso" title="Eneko Iriso icons" target="_blank">Eneko Iriso</a>.
            <br>
            <span class="icon is-small icon-credit"><i class="fas fa-video"></i></span> Video credit: <a href="https://www.pexels.com" target="_blank">Pexels.com</a>.
        </p>
    </div>
</footer>