<header>
  <nav class="custom-header">
    <div class="header-content">
      <a class="logo-link" href="/">
        <figure class="image is-32x32">
          <img
            class="is-rounded-will"
            src="/assets/will.png"
            alt="William's Blog"
          />
        </figure>
      </a>
      {% if page.url == '/blog.html' %}
      <div class="search-container">
        <input
          class="input custom-search-input"
          type="text"
          placeholder="Search blog..."
        />
        <span class="icon is-left search-icon">
          <i class="fas fa-search"></i>
        </span>
      </div>
      {% endif %}
      <div class="nav-links">
        <a href="/about.html">
          <span class="icon"><i class="fas fa-info-circle"></i></span>
          <span>About</span>
        </a>
        <a href="/blog.html">
          <span class="icon"><i class="fas fa-blog"></i></span>
          <span>Blog</span>
        </a>
        <a href="/contact.html">
          <span class="icon"><i class="fas fa-envelope"></i></span>
          <span>Contact</span>
        </a>
      </div>
    </div>
  </nav>
</header>
