.hero {
  // Sets height to 100% of viewport minus the navbar height
  height: calc(100vh - 50px);
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

.hero-body {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
}

@media screen and (max-width: 768px) {
  .hero {
    // Adjust height for mobile navbar
    height: calc(100vh - 40px);
  }
}
