---
---

@import "typography";
@import "base";
@import "layout";
@import "navbar-footer";
@import "components";
@import "blog";
@import "about";
@import "contact";
@import "responsive";

/* --- Homepage Mobile Fix --- */
@media screen and (max-width: 768px) {
  .homepage-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}
