<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
    <video autoplay muted loop playsinline id="video-background"></video>
    
    <header>
        <nav class="navbar">
            <a href="/" class="site-title">William's Blog</a>
            <div class="nav-links">
                <a href="/about.html">About</a>
                <a href="/blog.html">Blog</a>
                <a href="/contact.html">Contact</a>
            </div>
        </nav>
    </header>

    <main class="content">
      {{ content }}
    </main>

    <footer class="site-footer">
        <p>© 2025 William Golovlev</p>
    </footer>

    <script src="/assets/script.js"></script>
</body>
</html>